# Database Configuration
DATABASE_URL=postgresql://bemms:bemms_dev_password@localhost:5432/bemms_db

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-change-in-production

# Initial Admin User Credentials
ADMIN_EMAIL=admin@bemms.local
ADMIN_PASSWORD=Admin123!@#
ADMIN_FULL_NAME=System Administrator

# Node Environment
NODE_ENV=development

# Web Push / VAPID Configuration
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BNzhvhfkVUTFT2XiZLDE4w5VMcz915V-6__9v8AwdVaKxoCzZB1YwPCaIt6Nf3BrxQ7FgkvrA-Ey6SAo1xMOV34
VAPID_PRIVATE_KEY=uIR8-rzmKM2D2u_6Ui5v-DG5YCCs9IQcDo9VWPIzKc4
VAPID_SUBJECT=mailto:admin@bemms.app
